body,
label {
  background: #ddd;
}

label,
input,
select,
button {
  display: inline-block;
  width: 8rem;
  border: 1px solid #999;
  padding: .5rem;
  box-sizing: border-box;
  font-size: 1.5rem;
}

input:hover,
select:hover,
button:hover {
  box-shadow: 2px 4px 6px rgba(0,0,0,.3);
}

input, select, button {
  background: #fff;
}

button:hover {
  cursor: pointer;
}

label {
  text-align: center;
}
